/* 
Contact style 
  */

body {
  background-color: black;
  overflow-y: scroll;
}

.contact {
  min-height: 400px;
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
  position: relative;
  top: 0;
  z-index: 2;
}

.contact-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0px 1fr 1fr;
}

.contact-item-a {
  grid-area: 2 / 1 / 3 / 6;
  align-self: center;
  padding-left: 20px;
}

.contact h1 {
  color: rgb(255, 255, 255);
  font-size: min(10vw, 150px, 30vh);
}

.contact p {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 300;
  padding-left: 0px;
  padding-top: 20px;
  max-width: min(80vw, 500px);
}

.contact-item-b {
  grid-area: 3 / 1 / 4 / 6;
  justify-self: center;
  align-self: end;
  padding: 10px;
  margin-top: 0px;
  text-align: center;
}

.contact h2 {
  display: block;
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
}

.contact-item-b p {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact li {
  color: white;
  list-style: ">";
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact a {
  color: white;
  font-size: 22px;
}

.cursor {
  backface-visibility: hidden;
  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  transition: 100ms;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}

.contact-item-a:hover ~ .cursor {
  width: 200px;
  height: 200px;
  /* 
  background-image: linear-gradient(
    90deg,
    hsla(70, 100%, 50%, 1),
    hsla(100, 100%, 50%, 1) 
    
  );*/
}

.contact-item-b:hover ~ .cursor {
  width: 200px;
  height: 200px;
  /*
  background-image: linear-gradient(
    90deg,
    hsla(70, 100%, 50%, 1),
    hsla(100, 100%, 50%, 1)
    
  );*/
}

@media only screen and (min-width: 600px) {
  .contact-content {
    grid-template-rows: 0px 1fr 1fr;
  }

  .contact-item-a {
    grid-area: 2 / 1 / 3 / 2;
    padding-left: max(4vw, 50px);
  }

  .contact-item-b {
    grid-area: 3 / 1 / 4 / 6;
  }
}
